.box{
    display: flex;
    justify-content: center;
}
.slider-container {
    position: relative;
    width: 320px;
    overflow: hidden;
    text-align: center;
}
#slider-image {
    max-width: 500px;
    height: 300px;
}
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: .4s;
}
.prev-button:hover, .next-button:hover{
    transition: .4s;
    background-color:  rgba(58, 57, 57, 0.5);
}
.prev-button {
    left: 0;
}
.next-button {
    right:0;
}
#slider-image {
    width: 250px; 
    height: auto;
}   